<h1>Games</h1>

<% @products.each do |product| %>
<div class="col-md-3">
  <a href="/games/<%= product.id %>" class="nil">  
  <div class="product-box">  
    <img class="center-block img-responsive" src="<%= product.image %>">
    <h4><%= product.name %></h4>
    <h5>Lowest Price: <%= number_to_currency(product.price) %></h5>
    <p class="center"><%= product.stock %></p>
    <div class="description_scroll"><%= product.description %></div>
  </div>
    </a>
</div>
<% end %>
</div>

<div class="button">
  <%= button_to 'Add Game', new_path, :class => 'btn btn-add btn-default btn-large' %>
</div>

<%= link_to "Show all", "/games?showall=true" %>
<%= link_to "Show Discounted", "/games?showall=false" %>