<h1>Games</h1>

<% @products.each do |product| %>
<div class="col-md-3">
  <div class="product-box">    
    <img class="center-block img-responsive" src="<%= product.image %>">
    <h4><%= link_to product.name, product_path(product.id) %></h4>
    <h5>Lowest Price: $<%= product.price %></h5>
    <div class="description_scroll"><%= product.description %></div>
  </div>
</div>
<% end %>
</div>

<div class="button">
  <button type="button" class="btn btn-primary btn-lg"><%= link_to 'Add Game', new_path %></button>

