<h1>Games</h1>

<div class="center">
<p>
  | <%= link_to "Show all", "/products?showall=true" %> |
  | <%= link_to "Price: Low to High", "/products?order=ascending" %> |
  | <%= link_to "Price: High to Low", "/products?order=descending" %> |
</p>
<p>
  <% @categories.each do |category| %>
   | <%= link_to category.name, "/products?category=#{category.name}" %> |
  <% end %>
</p>
</div>
<% @products.each do |product| %>
<div class="col-md-3">
  <a href="/products/<%= product.id %>" class="nil">  
  <div class="product-box">  
    <img class="center-block img-responsive" src="<%= product.images.first.image_url %>">
    <h4><%= product.name %></h4>
    <h5>Lowest Price: <%= number_to_currency(product.price) %></h5>
    <p class="center"><%= product.stock %></p>
    <div class="description_scroll"><%= product.description %></div>
  </div>
    </a>
</div>
<% end %>
</div>

<div class="button">
  <%= button_to 'Add Game', "/products/new", method: :get, :class => 'btn btn-add btn-default btn-large' %>
</div>


