<h1><%= @product.name %></h1>

<% if @product && @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li class="error"><%= message %></li>
  <% end %>
<% end %>


<br>
<h4>Supplier: <%= @product.supplier.name %></h4>
<h4>Price: <%= number_to_currency(@product.price) %> (<%= @product.sale_message %>)</h4>
<h4>Tax: <%= number_to_currency(@product.tax) %></h4>
<h4>Total Price: <%= number_to_currency(@product.total) %></h4>
<h4><%= @product.stock %></h4>
<h5>Categories:</h5>
<ul class="center">
  <% @product.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<h5>Description:</h5>
<p><%= @product.description %></p>

<p>
<% @product.images.each do |image| %>
  <img src="<%= image.image_url %>">
<% end %>
</p>


Buy Now:
<div>
<%= form_tag "/cart", method: :post do %>

<%= label_tag "Quantity" %>
<%= text_field_tag :quantity, @carted_product.quantity %>
<%= hidden_field_tag :product_id, @product.id %>
</div>
<%= submit_tag "Add to Cart" %>
<% end %>




<p>Last updated: <%= @product.friendly_updated_at %></p>
<%= link_to "Edit", "/products/#{@product.id}/edit", method: :get %><br>

<%= link_to "Delete", "/products/#{@product.id}", method: :delete %><br>
<%= link_to "Go back", "/products" %><br>



